.favorited-icon {
  color: red;
}
.not-favorited-icon {
  color: white;
}

.station-card-image {
  height: 200px;
  width: 200px;
}

.edit-station-button {
  color: white;
}

.station-card-image-default {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;

  text-overflow: ellipsis;
  overflow: hidden;
  background-color: black;
  color: whitesmoke;
  /* white-space: nowrap; */
}

.station-card-image-default > span {
  margin-left: 10%;
  text-overflow: ellipsis;
  font-size: 30px;
}

.favorite-icon {
  margin-left: 10px;
}

.card-station-name {
  width: 200px;
  text-align: center;
}

.station-card-container {
  margin: 10px;
}

.station-card-image-play-pause {
  font-size: 50px;
  color: black;
}

.station-card-image-play-container {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 137.5px;
  left: 62.5px;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  transition: opacity 1s;
}

.station-card-image-container:hover .station-card-image-play-container {
  opacity: 0.9;
}

.station-card-image-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: -79px;
}
