nav {
  background-color: blue;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 50px;
}

.link-container > li > a {
  text-decoration: none;
  color: black;
}

.nav-link {
  margin-inline: 10px;
}
