.fixed-audio-container {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: max-content;
}

.player-logo {
  font-family: "Bungee Shade";
  font-size: 30px;
  font-weight: bold;
}

.app-audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.audio-player {
  width: 100vw;
  /* height: 68px; */
}

.rhap_container {
  height: 68px;
}

.rhap_progress-section {
  display: none;
}

/* .now-playing-placeholder {
  display: flex;
  padding-top: 12px;
  padding-left: 50px;
} */

.scan-active {
  background-color: #fca311;

  border-radius: 4px;
}

.scan-audio {
  padding: 5px;
}

.random-button {
  padding: 5px;
}

.random-button:active {
  background-color: #fca311;
  border-radius: 4px;
  padding: 5px;
}

.rhap_volume-controls {
  margin-right: 15px;
}
.rhap_main-controls {
  z-index: 100;
}

.custom-audio-elements {
  position: fixed;

  bottom: 0px;
  height: 68px;
  width: 100vw;
  display: grid;
  grid-template-columns: 45vw 128px 10fr 120px;
  grid-template-rows: 1fr;
  align-items: center;
}

.custom-audio-controls {
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 57px;
  transform: translateX(calc(-50% - 170px));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: gray;
  gap: 15px;

  align-items: center;
  font-size: 20px;
}

.player-logo {
  margin-left: 40px;
  position: fixed;
  left: 0;
}

.scan-audio:hover {
  cursor: pointer;
}
.now-playing-container {
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 68px;
  /* transform: translateX(calc(+50% + 0)); */
  transform: translateX(60px);

  /* width: 30vw; */
  width: 500px;
  color: gray;

  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.audio-favorite-container > div > i {
  color: gray;
}

.volume-spacer {
  position: fixed;
  right: 0px;
  height: 60px;
  width: 120px;
  background-color: #ffffff;
}

.rhap_volume-button {
  z-index: 100;
}

@media (max-width: 950px) {
  .player-logo {
    display: none;
  }

  .custom-audio-controls {
    left: 250px;
    bottom: 0;
    border: 1px solid red;
    gap: 8px;
  }

  .rhap_main-controls {
    position: fixed;
    left: 160px;
  }

  .now-playing-container {
    left: 240px;
    width: max-content;
  }
}

.scroll-text-audio {
  display: inline;
}
