.fixed-audio-container {
  position: fixed;
  width: 100vw;
  bottom: 0px;
}

.audio-player-logo {
  font-family: "Bungee Shade";
  font-weight: bold;
}

.player-logo {
  font-family: "Bungee Shade";
  position: fixed;
  bottom: 0px;
  left: 200px;
  font-size: 30px;
  font-weight: bold;
}

.app-audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.now-playing-container {
  width: 600px;
  height: 30px;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-block: 10px;

  border-bottom: none;
  position: fixed;
  bottom: 15px;
  right: 100px;
  overflow: hidden;
}

.audio-player {
  width: 100vw;
}

.rhap_progress-section {
  display: none;
}

.now-playing-placeholder {
  display: flex;
  padding-top: 12px;
  padding-left: 50px;
}

.audio-player-additional-controls {
  position: fixed;
  right: 55vw;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  color: gray;

  height: 60px;
}

.scan-active {
  background-color: #fca311;

  border-radius: 4px;
}

.scan-audio {
  padding: 5px;
}

.random-button {
  padding: 5px;
}

.random-button:active {
  background-color: #fca311;
  border-radius: 4px;
  padding: 5px;
}

.rhap_volume-controls {
  margin-right: 15px;
}
