.page-container {
  width: 80vw;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* min-height: 70vh; */
  height: min-content;
}

#root {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/yellow-liquid-marble-background-handmade-colorful-flowing-texture-experimental-art_53876-108073.jpg?w=2000");
}

.bottom-spacer {
  height: 155px;
  background-color: white;
  width: 100vw;
  margin: auto;
  background-image: url("https://img.freepik.com/free-photo/yellow-liquid-marble-background-handmade-colorful-flowing-texture-experimental-art_53876-108073.jpg?w=2000");
  background-position: 0px;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

i:hover {
  cursor: pointer !important;
}

body {
  font-family: "Alfa Slab One";
  width: 100vw;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* SCROLLING TEXT */
#scroll-container {
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  width: max-content !important;
  -moz-transform: translateX(10%);
  -webkit-transform: translateX(10%);
  transform: translateX(10%);

  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

/* for Firefox */
/* @-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(10%);
  }
  to {
    -moz-transform: translateX(-200%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(10%);
  }
  to {
    -webkit-transform: translateX(-200%);
  }
} */

@keyframes my-animation {
  from {
    -moz-transform: translateX(10%);
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#scroll-text-2 {
  /* animation properties */
  position: relative;
  top: -28px;
  width: max-content !important;
  -moz-transform: translateX(120%);
  -webkit-transform: translateX(120%);
  transform: translateX(120%);

  -moz-animation: my-animation-2 10s linear infinite;
  -webkit-animation: my-animation-2 10s linear infinite;
  animation: my-animation-2 10s linear infinite;
}

/* for Firefox */
/* @-moz-keyframes my-animation-2 {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(20%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes my-animation-2 {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-10%);
  }
} */

@keyframes my-animation-2 {
  from {
    -moz-transform: translateX(120%);
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -moz-transform: translateX(10%);
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
}

#scroll-container:hover #scroll-text {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
#scroll-container:hover #scroll-text-2 {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.now-playing-scroll {
  -moz-animation: my-animation-2 30s linear infinite !important;
  -webkit-animation: my-animation-2 30s linear infinite !important;
  animation: my-animation-2 30s linear infinite !important;
}
