.page-container {
  width: 80vw;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

#root {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("https://img.freepik.com/free-photo/yellow-liquid-marble-background-handmade-colorful-flowing-texture-experimental-art_53876-108073.jpg?w=2000");
}

.bottom-spacer {
  height: 200px;
  background-color: white;
  width: 80vw;
  margin: auto;
  background-image: url("https://img.freepik.com/free-photo/yellow-liquid-marble-background-handmade-colorful-flowing-texture-experimental-art_53876-108073.jpg?w=2000");
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

body {
  font-family: "Alfa Slab One";
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
