.page-container {
  width: 80vw;
  margin: auto;
  background-color: yellow;
}

#root {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bottom-spacer {
  height: 200px;
  background-color: yellow;
  width: 80vw;
  margin: auto;
}
