/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  width: max-content;
  height: max-content;
  border-radius: 2px;
  padding: 2%;
  animation-duration: 0.5s;
  animation-name: modal-slide-in;
  border-radius: 10px;
}

@keyframes modal-slide-in {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}
