.favorited-icon {
  color: red;
}

.all-stations-card-image {
  height: 300px;
  width: 300px;
  border-bottom: 1px solid black;
  border: 1px solid black;
}

.all-stations-card-image-default {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;

  text-overflow: ellipsis;
  overflow: hidden;
  background-color: black;
  color: whitesmoke;
  /* white-space: nowrap; */
}

.all-stations-card-image-default > span {
  margin-left: 10%;
  text-overflow: ellipsis;
  font-size: 40px;
}

.favorite-icon {
  margin-left: 10px;
}

.all-stations-card-name {
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  height: 30px;
}

.all-stations-card-container {
  width: 302px;
  height: 450px;
}

.all-stations-card-image-play-pause {
  font-size: 50px;
  color: black;
}

.all-stations-card-image-play-container {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 187.5px;
  left: 112.5px;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  transition: opacity 1s;
}

.all-stations-card-image-container:hover
  .all-stations-card-image-play-container {
  opacity: 0.9;
}
.all-stations-card-image-container {
  margin-top: -79px;
}

.all-stations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  /* grid-template-columns: 300px 300px 300px; */
  /* grid-template-columns: repeat(4, 300px);
  /* grid-column-gap: 100px; */
  /* width: 100%;
  gap: 25px;  */
  /* display: flex;
  /* height: 100vh;
  white-space: wrap; */
}

/* @media only screen and (max-width: 1600px) {
  .all-stations-container {
    grid-template-columns: repeat(3, 300px);
    gap: calc(100% - 800px);
  }
} */

.all-stations-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  z-index: -1;
}

.all-stations-icon {
  color: white;
}
.all-stations-icon:active {
  color: #fca311;
}

.all-stations-button-container > div {
  margin: 5px 5px;
}

a {
  text-decoration: none;
}

.all-stations-now-playing-container {
  font-size: 20px;
  width: 290px;
  padding-inline: 5px;
}

.all-stations-title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;

}

.all-stations-positioning-container {
  margin: auto;
}

.all-stations-text-container {
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px black inset;
  margin-top: -5px;
  max-height: 90px;
  overflow: hidden;
  height: 60px;
  padding-inline: 10px;
}

.create-station-button {
  position: relative;
  top: -120px;
  left: 760px;

  background-color: #fca311;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.create-station-icon {
  margin-left: 15px;
  font-size: 20px;
}

.all-stations-card-station-name-container {
  height: 30px;
  font-size: 20px;
  padding-top: 5px;
}
