.favorited-icon {
  color: red;
}

.all-stations-card-image {
  height: 300px;
  width: 300px;
  border-bottom: 1px solid black;
  border: 1px solid black;
}

.all-stations-card-image-default {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;

  text-overflow: ellipsis;
  overflow: hidden;
  background-color: black;
  color: whitesmoke;
  /* white-space: nowrap; */
}

.all-stations-card-image-default > span {
  margin-left: 10%;
  text-overflow: ellipsis;
  font-size: 40px;
}

.favorite-icon {
  margin-left: 10px;
}

.all-stations-card-name {
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}

.all-stations-card-container {
  width: max-content;
  height: 450px;
}

.all-stations-card-image-play-pause {
  font-size: 50px;
  color: black;
}

.all-stations-card-image-play-container {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 187.5px;
  left: 112.5px;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  transition: opacity 1s;
}

.all-stations-card-image-container:hover
  .all-stations-card-image-play-container {
  opacity: 0.9;
}
.all-stations-card-image-container {
  margin-top: -79px;
}

.all-stations-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 100px;
}

.all-stations-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.all-stations-icon {
  color: white;
}

.all-stations-button-container > div {
  margin: 5px 5px;
}

a {
  text-decoration: none;
}

.all-stations-now-playing-container {
  font-size: 20px;
  width: 290px;
  padding-inline: 5px;
}

.all-stations-title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}

.all-stations-positioning-container {
  margin: auto;
}

.all-stations-text-container {
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px black inset;
  margin-top: -5px;
}
